ul.bgg
 li.sphere
 li.snowflake *
 li.snowflake *
 li.snowflake *
 li.snowflake *
 li.snowflake *
 li.snowflake *
 li.snowflake *
 li.snowflake *
 li.snowflake *
 li.snowflake *
 li.snowflake *
 li.snowflake *
 li.snowflake *
 li.snowflake *
 li.snowflake *
ul.tree
 li.top-star 
 li.top
  ul.tree-pts
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.right
   li.pts.right
   li.pts.right
   li.pts.right
   li.pts.right
   li.pts.right
   li.pts.right
 li.middle.first
  ul.tree-pts
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.right
   li.pts.right
   li.pts.right
   li.pts.right
   li.pts.right
   li.pts.right
   li.pts.right
 li.middle.second
  ul.tree-pts
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.right
   li.pts.right
   li.pts.right
   li.pts.right
   li.pts.right
   li.pts.right
   li.pts.right
 li.middle.third
  ul.tree-pts
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.right
   li.pts.right
   li.pts.right
   li.pts.right
   li.pts.right
   li.pts.right
   li.pts.right
 li.bottom.outer
  ul.tree-pts
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.left
   li.pts.right
   li.pts.right
   li.pts.right
   li.pts.right
   li.pts.right
   li.pts.right
   li.pts.right
 li.stem
  ul.tree-stem
   li.stem
   li.gift.g1
   li.gift.g2
   li.gift.g3
   li.gift.g4
   li.gift.g5
   li.gift.g6
   li.gift.g7
   li.gift.g8
   li.gift.g9
   li.shadow

ul.toys
 li.star
 li.ball.b1
 li.ball.b2
 li.ball.b3
 li.ball.b4
 li.ball.b5
 li.ball.b6
 li.ball.b7
 li.ball.b8
 li.ball.b9
 li.ball.b10
 li.ball.b11
 li.ball.b12
 li.ball.b13
 li.ball.b14
 li.ball.b15
 li.ball.b16
 li.ball.b17
 li.ball.b18
 li.ball.b19
 li.ball.b20
 
 li.light.l1
 li.light.l2
 li.light.l3
 li.light.l4
 li.light.l5
 li.light.l6
 li.light.l7
 li.light.l8
 li.light.l9
 li.light.l10
 li.light.l11
 li.light.l12
 li.light.l13
 li.light.l14
 li.light.l15
 li.light.l16
 li.light.l17
 li.light.l18
 li.light.l19
 li.light.l20
 li.light.l21
 li.light.l22
 li.light.l23
 li.light.l24
 li.light.l25